{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>  
    <div class="container">
        <div class="container-block">
            <div class="header">
                <ul>
                    {% if not user.is_authenticated %}
                        <li><a href="/accounts/login">LOGIN</a></li>
                    {% else %}
                        <li><a href="/user_cart">Корзина</a></li>
                        <li><a href="/user_cabinet">Кабинет</a></li>
                        <li><a href="/accounts/logout">LOG OUT</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="courses">
                <div class="courses_all_text">
                    <h1>{{category}}</h1>
                </div>
                <ul>
                    
                    {% for i in courses %}
                        <div class="course_item">
                            <img src="/{{ i.course_photo }}" alt="">
                            <li>
                                <a href="/course/{{ i }}">Курс: {{ i }}</a>
                                <p>Цена: {{ i.course_price }}</p>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer"></div>

</body>
</html>